// Place all the styles related to the Hours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main_hour { 
  color: #AAA;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 75px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
}
.semibutton {
  font-size: 2em;
  a:link, a:visited, a:active {
    color: gray;
    &:hover {
      background-color: yellow;
    }
  }
  text-decoration: gray underline;
  vertical-alignment: 2px;
  span {
    color: #DDD;
  }
}